<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
	  <Binary Id="CustomActions_dll" SourceFile="$(var.Installer.CustomActions.TargetDir)Installer.CustomActions.CA.dll" />

	  <CustomAction Id="CustomAction1" DllEntry="CustomAction1" Execute="deferred" Return="check" Impersonate="yes" BinaryRef="CustomActions_dll" />

	  <InstallExecuteSequence>
		  <Custom Action="CustomAction1" Before="InstallFinalize" Condition="(NOT Installed OR REINSTALL)"/>
	  </InstallExecuteSequence>
  </Fragment>
</Wix>
